@import "./variables.scss";
@import "./helpers.scss";
@import "./mixins.scss";

.login-container {
	background-color: $foreground-color;

	@include respondTo(desktop) {
		width: $login-box-width;
		height: $login-box-height;
		margin-left: auto;
		margin-right: auto;
		filter: drop-shadow(2px 2px 6px $login-box-shadow);
	}

	@include respondTo(tablet) {
		width: 100vw;
		height: 100vh;
	}
}

.login-content {
	display: grid;
	grid-row-gap: 20px;
	grid-template-rows: 40px 1fr 2fr;
	align-items: normal;
	flex-direction: column;
	@include respondTo(desktop) {
		height: $login-box-height;
		padding: 60px 50px;
	}
	@include respondTo(tablet) {
		height: 100vh;
		max-height: $login-box-height;
	}
	@include respondTo(mobile-l) {
		padding: 40px 30px;
	}
	@include respondTo(mobile-s) {
		min-width: 300px;
		min-height: 500px;
	}
}

.form-grid {
	display: grid;
	grid-template-rows: 1fr 1fr 60px;
	align-items: stretch;
}

.form-text-input {
	display: block;
	width: 100%;
	height: 55px;
	border: 1px solid #d1d1d1;
	border-radius: $border-radius;
	padding-left: 20px;
	@include respondTo(desktop) {
		font-size: 1.5rem;
	}
	@include respondTo(tablet) {
		font-size: 1.2rem;
	}
	@include respondTo(mobile-l) {
		font-size: 1.05rem;
	}
}

.form-text-input:focus {
	background-color: $background-color;
}

.form-checkbox-toggle[type="checkbox"] {
	float: left;
	width: 1.4em;
	height: 1.4em;
	border: 1px solid #d1d1d1;
	border-radius: $border-radius / 2;
	appearance: none;
	margin-right: 10px;
}

.form-checkbox-toggle[type="checkbox"]:checked {
	appearance: checkbox;
}

.button {
	font-size: large;
	height: 60px;
	background-color: white;
	border: 1px solid #d1d1d1;
	border-radius: $border-radius;
	@include respondTo(desktop) {
		width: 160px;
	}
	@include respondTo(tablet) {
		width: 50%;
	}
	@include respondTo(mobile-l) {
		width: 100%;
	}
}
