$font-stack: "Gotham", sans-serif;

$background-color: #fafafa;
$foreground-color: #ffffff;

$text-primary: #4c494b;
$text-secondary: #9f9e9f;

$login-box-padding-top-bottom: 70px;
$login-box-padding-left-right: 50px;
$login-box-width: 650px;
$login-box-height: 600px;

$login-box-shadow: rgba(76, 76, 76, 0.2);

$border-radius: 0.4em;

$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$desktop: 3840px;
